*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* Удаляем стандартную стилизацию для всех ul и Ol*/
ul,
ol {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}


a {
  text-decoration: none;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 25px;
}

@import 'base/vars';
@import 'blocks/menu';
@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/header';
@import 'base/media';