.header {
    padding: 190px 0 210px 0;
    background: url('../../img/main-bg.jpg') center (center/cover) no-repeat;
    position: relative;
    &__title {
        display: inline-block;
        font-size: 3rem;
        position: relative;
        margin-top: 12px;
    }
    &__descr {
        margin-top: 14px;
    }
    &__btn {
        margin-top: 51px;
    }
    &__img {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(0,-50%);
    }
}
.icon-emblem::before {
    position: absolute;
    right: -17%;
}