.start {
    padding: 120px 0;
    background: url('../../img/pottery-bg.jpg') center (center/cover) no-repeat;
    &__subtitle {
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 400;
    }
    &__title {
        margin-top: 7px;
        font-size: 2.25rem;
    }
    &__descr {
        margin-top: 13px;
        font-weight: 700;
        font-size: 1rem;
        color: $colorGrey;
        span {
            text-decoration-line: underline;
            color: $colorRed;
        }
    }
    &__btn {
        margin-top: 30px;
        padding: 20px 45px;
    }
}